<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 301 Direct Single-Step Redirect non-www and HTTP to https://www.itobyinfotech.com
  RewriteCond %{HTTP_HOST} !^www\. [NC,OR]
  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP_HOST} ^(?:www\.)?(itobyinfotech\.com)$ [NC]
  RewriteRule ^(.*)$ https://www.itobyinfotech.com/$1 [R=301,L]

  # 301 Redirect /home to root homepage
  RewriteRule ^home/?(.*)$ https://www.itobyinfotech.com/ [R=301,L]

  # SPA Routing
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
